body {
	font-family: arial;
	font-size: 13px;
	/*    -webkit-user-select: none;
		-o-user-select: none;
		user-select: none; */
	background-color: rgb(230, 230, 230);
	overflow-x: hidden;
	overflow-y: auto;
	min-width: 0;
	min-height: 0;
	margin: 8px;
	max-width: 780px;
}

#toolbar {
	display: table;
}